
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Comfortaa', cursive;
}

html {
    scroll-behavior: smooth;
}


body{
    background-image: url(./img/4625797.jpg);
    background-attachment: fixed;
    background-size: cover;
}


section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* INICIO Navegacion*/

header .navegacion  a{
    color: #fdfbfb;
    text-shadow: 0 0 22px #a967f5;
    text-decoration: none;
    align-items: center;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navegacion a:not(:last-child) {
    margin-right: 20px;
}
header .navegacion a:hover {
    background: #ffffff75;
}
/* FIN Navegacion*/



/*Titulo principal arriba y abajo SECCION1*/

#seccion1{
    margin-top: 10%;
    margin-left: 12%;
    padding-bottom: 0;
}

.img-home img{
    width: 25%;
    float: left;
}

h2{
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
}

.nombre{
    color: #a458fb;
    text-shadow: 0 0 30px #ffffff6c;
    font-weight: 600;
    font-size: 65px;
}


.titulo{
	width: 100%;
    font-size: 35px;
    overflow: hidden;
}

.centeredBox {
	width: auto;
    text-align: center;
	color: #ffffff;
    text-shadow: 0 0 22px #a967f5;
    padding-top: 30px;
    padding-bottom: 50px;
    float: left;
}


.cursor {
	border-left: 4px solid #fffefe;
    text-shadow: 0 0 22px #3b0a74;
}

/*FIN SECCION 1*/





/*INICIO SECCION INFORMACION*/

#seccion2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #ffffff;
    text-shadow: 0 0 10px #9755e2;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    
}

h3{
    color: #ffffff;
    text-shadow: 0 0 10px #9755e2;
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    font-weight: 300;
}

.lenguajes img{
    width: auto;
    height: 100px;
    margin: 10px;
    transition: 00.5s;
    transition-property: transform;
}

.lenguajes img:hover {
    transform: scale(1.5);
}


/*Contenido de texto informativo Y FOTO*/

.contenido-texto{
    background: #0c007536;
    padding: 20px;
    margin: 0 450px 0 450px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 3px solid #5878ca;
    box-shadow: 10px 10px 10px #00000050;
    box-sizing: border-box;
    display: flex;
}

.img-cv img{
    width: 130px;
    border-radius: 20px;
}

.info p {
    font-size: 26px;
    font-weight: 400;
    margin-left: 30px;
    color: #ffffff;
}

/*Boton CV*/

.contenido-boton a{
    text-decoration: none;
    display: flex;
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
    background: #ffffff;
    border-radius: 5px;
    transition: 00.3s;
    letter-spacing: 3px;
    padding: 10px 10px;
    margin-top: 20px;
    transition-property: background;
}

.info-btn:hover {
    background: #ffffff75;
    cursor: pointer;
}
/*Fin boton de cv*/

/*FIN SECCION INFORMACION*/




/*INICIO SECCION PORTFOLIO*/

#seccion3{
    margin-top: 0;
    padding-top: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p{
    color: #ffffff;
    font-weight: 600;
}

.sub-title{
    font-size: 30px;
    font-weight: 300;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}
  
.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  
.col{
    width: calc(25% - 32px);
    margin: 16px;
    cursor: pointer;
}
  
.container{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
  
.front,
.back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 #875a8f40;
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 350px;
    height: auto;
    border-radius: 10px;
    color: #000;
    font-size: 24px;
}
  
.back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #dadada20 0%,#4243444d 100%);
    background: -o-linear-gradient(45deg,  #dadada20 0%,#4243444d 100%);
    background: linear-gradient(45deg,  #dadada20 0%,#4243444d 100%);
}
  
.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .3;
    background-color: #00000020;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
  
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-cards{
    color: #ffffff90;
    text-shadow: 0 0 15px #000000;
    padding: 5px 10px;
    display: block;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    transition-property: background;
}

.btn-cards:hover{
    background: #ffffff75;
    cursor: pointer;
}

  
.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}
  
.container .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  
.container .front{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  
.container:hover .back{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  
.container:hover .front{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  
.front .inner p{
    font-size: 35px;
    margin-bottom: 32px;
    position: relative;
}
  
.front .inner p:after{
    content: '';
    width: 64px;
    height: 2px;
    position: absolute;
    background: #000;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -12px;
}
  
.front .inner span{
    color: #000;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
}

/*FIN SECCION PORTFOLIO*/



/*SECCION CONTACTO*/


/*Botones de redes sociales*/



#contacto{
    color: #ffffff;
    text-shadow: 0 0 10px #9755e2;
    text-align: center;
    font-size: 80px;
    margin-top: 10%;
}

.info-contacto p{
    color: #ffffff;
    text-shadow: 0 0 10px #9755e2;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 50px;
}

.media-icons {
    display: block;
    text-align: center;
    transition: 00.3s;
    transition-property: transform;
}

.media-icons :hover {
    transform: scale(1.5);
}

.media-icons a {
    color: #ffffff;
    text-shadow: 0 0 10px #9755e2;
    font-size: 100px;
}

.media-icons a:not(:last-child) {
    margin-right: 100px;
}

/*FIN SECCION CONTACTO*/


/*INICIO FOOTER FINAL */

.footer{
    background-color: #9755e210;
    padding: 20px 0 30px 0;
    margin-top: 16%;
}

#copy{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: 200;
}

/*FIN DEL FOOTER*/


/*INICIO BOTON UP SCROLL*/
.up-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #9755e2;
    bottom: 40px;
    right: 50px;
    border-radius: 25px;

    text-decoration: none;
    text-align: center; 
    line-height: 50px;
    color: #ffffff;
    font-size: 22px;
}

.up-btn:hover {
    background: #ffffff75;
}

/*FIN BOTON UP SCROLL*/


/* INICIO Configuraciones botones responsive*/

@media screen and (min-width: 1080px) and (max-width: 1290px){
   
    #seccion1{
        display: inline-block;
    }

    .img-home{
        margin-top: 80px;
        width: 80%;
    }

    .centeredBox h2{
        font-size: 50px;
    }

    .contenido-texto{
        display: flex;
        width: 80%;
    }
}

@media screen and (max-width: 1080px){

    header{
        display: contents;
    }

    .navegacion{
        margin-top: 20px;
        text-align: center;
        
    }

    .img-home{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .centeredBox{
        font-size: 20px;
    }

    #seccion1{
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h2{
        font-size: 60px;
        margin-left: 80px;
        text-align: center;
    }
    .nombre{
        font-size: 80px;
    }

    .img-cv{
        width: auto;
        text-align: center;
    }

    .contenido-texto{
        display: flex;
        width: 80%;
    }

    .lenguajes{
        display: inline-block;
        text-align: center;
    }

    .titulo{
        font-size: 30px;
    }

    .lenguajes img{
        display: inline-block;
    }
}


    


@media screen and (max-width: 780px){

    body{
        background-image: url(./img/4625797.jpg);
        background-size:contain;    
    }

    header{
        display: contents;
    }

    .navegacion{
        margin-top: 20px;
        text-align: center;
        
    }

    .img-home{
        margin-top: 80px;
        margin-left: 25%;
        display: flex;
        justify-content: left;
        width: 200%;
    }

    .img-cv{
        padding-left: 0px;
    }

    h1{
        text-align: center;
    }

    h2{
        margin-right: 80px;
    }

    .centeredBox{
        text-align: center;
    }
    
    .up-btn{
        display: none;
    }

    .contenido-texto{
        display: block;
    }

    .lenguajes img{ 
        display: inline-block; 
        padding: 0px 0px 0px 10px;         
    }

    .titulo{
        font-size: 35px;
    }
}



@media screen and (max-width: 512px){

    body{
        background-image: url(./img/4625797.jpg);
        background-size: cover;   
    }

    header{
        display: contents;
        text-align: justify;
    }

    header .navegacion a{
        font-size: 20px;
    }

    .center .letter{
       display: none;
    }

    .contenido-texto{
        display: inline-block;
    }

    .info p{
        font-size: 12px;
        font-weight: 100;
        text-align: center;
        margin-top: 10px;
        margin-right: 25px;
    }

    .img-cv{
        width: auto;
    }

    .up-btn{
        display: none;
    }

    h1{
        padding-top: 0;
        margin-top: 0;
    }

    #seccion1{
        display: block;
        text-align: center;
    }

    h2{
        font-size: 50px;
        margin: 0;
        text-align: center;
    }
    .nombre{
        font-size: 50px;
    }

    .img-home{
        display: flex;
        justify-content: left;
        width: 280%;
        margin-left: 60px;
        margin-top: 50px;
    }

    .contenido .titulo h2 span{
        text-align: center;
    }

    .contenido .titulo h3{
        display: block;
        text-align: center;
        padding-right: 50px;
    }

    .lenguajes img{ 
        display: auto;
        padding: 50px 0px 0px 0px;
    }

    .titulo{
        font-size: 25px;
        padding-bottom: 0;
        margin-bottom: 0;
    }  

    #contacto{
        font-size: 60px;
        margin-top: 60px;
    }

    .info-contacto p{
        font-size: 20px;
    }
    
    .media-icons a{
        display: inline-block;
        text-align: center;
        font-size: 70px;
    }

    #mail{
        display: inline-block;
        margin-left: 90px;
    }

    .footer{
        padding-bottom: 10px;
        padding-top: 5px;
    }

    #copy{
        font-size: 15px;
        font-weight: 100;
    }
}


/*Responsive cards repositorys */

@media screen and (max-width: 1024px){
    .col{
      width: calc(33.333333% - 32px);
    }
}
  
@media screen and (max-width: 768px){
    .col{
      width: calc(50% - 32px);
    }
}
  
@media screen and (max-width: 512px){
    .col{ 
      width: 100%;
      margin: 0 0 32px 0;
    }
}
/* FIN Responsive Configruracion*/



